body {
    width: 800px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shortCode {
    background-color:#f7f6f2;
    padding: 3px;
    border-radius: 3px;
    color:crimson;
}

.longCode {
    width: 800px;
    background-color:#f7f6f2;
}

label {
    line-height: 30px;
}

button {
    height: 50px;
    width: 200px;
    margin-bottom: 30px;
    background-color: red;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}
button:hover {
    background-color:limegreen;
}
